---
const projects = [
  {
    id: 'personal-website-v2',
    name: 'Personal Website V2',
    img: 'https://raw.githubusercontent.com/robin3317/assets/main/personal-website-v2-mobile.jpeg',
    description: `My second portfolio website which I designed and build in 2023. I have been watching gained popularity of Astro and TailwindCSS for a long time but didn't use them before. So I decided to make my hands dirty and built this website.`,
    technologies: ['Astro', 'TailwindCSS', 'Preline UI'],
    githubLink: 'https://github.com/robin3317/Personal_Website_Astro',
    link: 'https://www.robinrahman.me/',
  },
  {
    id: 'personal-website-v1',
    name: 'Personal Website V1',
    img: 'https://raw.githubusercontent.com/robin3317/assets/main/personal-website-v1.jpeg',
    description:
      'My first portfolio website which I designed and build in 2019. I was learning Next.js and then decided why not develop my personal website with it(Next.js).',
    technologies: ['Next.js', 'React-Bootstrap', 'styled-components'],
    githubLink: 'https://github.com/robin3317/devrobin',
    link: 'https://devrobin.vercel.app/',
  },
  {
    id: 'github-finder',
    name: 'Github Finder',
    img: 'https://raw.githubusercontent.com/robin3317/assets/main/github-finder.png',
    description:
      'An application to find Github related things like as repositories, users e.t.c by using beautiful github api, including authentication and pagination.',
    technologies: ['React', 'Redux', 'Firebase'],
    githubLink: 'https://github.com/robin3317/github-repo',
    link: 'https://github-repo-v1.netlify.app/',
  },
]
---

<div class='max-w-[85rem] px-4 pt-32 sm:px-20 lg:px-40 mx-auto' id='project'>
  <h1 class='mb-4 font-bold text-3xl'>03. Some things I've build</h1>

  <div class='grid gap-14 md:max-md:gap-28'>
    {
      projects?.map((project, index) => (
        <div class='mt-6 md:grid md:grid-cols-2 md:items-center md:gap-12 xl:gap-32'>
          <div class={index % 2 === 0 && 'order-last'}>
            <img class='rounded-xl' src={project.img} alt={project.name} />
          </div>

          <div class='mt-5 sm:mt-10 lg:mt-0'>
            <div class='space-y-2 md:space-y-4'>
              <h2 class='font-bold text-3xl lg:text-4xl text-gray-800 dark:text-gray-200'>
                {project.name}
              </h2>
              <p class='text-gray-500'>{project.description}</p>
            </div>
            <div class='my-2 space-x-2'>
              {project.technologies.map((technology) => (
                <span>{technology}</span>
              ))}
            </div>
            <div class='flex space-x-2 sm:space-x-4 mt-4'>
              <a href={project.githubLink} target='_blank'>
                <svg
                  xmlns='http://www.w3.org/2000/svg'
                  role='img'
                  viewBox='0 0 24 24'
                  fill='none'
                  stroke='currentColor'
                  stroke-width='2'
                  stroke-linecap='round'
                  stroke-linejoin='round'
                  class='feather feather-github w-5 h-5 hover:text-blue-600'
                >
                  <>
                    <title>GitHub</title>
                    <path d='M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22' />
                  </>
                </svg>
              </a>

              <a href={project.link} target='_blank'>
                <svg
                  xmlns='http://www.w3.org/2000/svg'
                  role='img'
                  viewBox='0 0 24 24'
                  fill='none'
                  stroke='currentColor'
                  stroke-width='2'
                  stroke-linecap='round'
                  stroke-linejoin='round'
                  class='feather feather-external-link w-5 h-5 hover:text-blue-600'
                >
                  <path d='M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6' />
                  <polyline points='15 3 21 3 21 9' />
                  <>
                    <title>External Link</title>
                    <line x1='10' y1='14' x2='21' y2='3' />
                  </>
                </svg>
              </a>
            </div>
          </div>
        </div>
      ))
    }
  </div>
</div>
